<fieldset class="bookmark group">
  <div class="bookmark-shape" style="background-color:<%=ColorPicker.color((@bookmark.title || 'C')[0])%>"><h3 style="color:#ffffff"><%= (@bookmark.title || ' ')[0].upcase %></h3></div>
<!--   <label for="title">Title</label> -->
  <input class="bookmark-title" id="title" type="text" name="bookmark[title]" value="<%=@bookmark.title%>" placeholder="Title" required>
<!--   <label for="genre">Genre</label> -->
  <input class="bookmark-genre" id="genre" type="text" name="bookmark[genre]" value="<%=@bookmark.genre%>" placeholder="genre">
<!--   <label for="url">URL</label> -->
  <input class="bookmark-url" id="url" type="url" name="bookmark[url]" value="<%=@bookmark.url%>" placeholder="http://" required>
</fieldset>